.d-flex {
  margin: 5em auto;
}
button {
  margin-top: 1.3em;
}
div.imageContainer {
  width: 700px;
  margin: auto;
}
.bannerImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
/****  Cancel button ***/
.cancel {
  margin-left: 2em;
}
.cancel,
.submit {
  margin-top: 1em;
}
