<div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-center align-items-center row">
      <form
        id="uploadForm"
        #f="ngForm"
        enctype="multipart/form-data"
        method="post"
      >
        <div class="custom-file">
          <input
            required
            type="file"
            class="custom-file-input"
            id="file"
            ngModel
            #file="ngModel"
            name="file"
            accept="image/x-png,image/gif,image/jpeg,image/jpg"
            (change)="handleFileInput($event.target.files)"
          />
          <label class="custom-file-label" for="customFile">
            <p *ngIf="isImageChosed == false">choose an image:</p>
            <p *ngIf="isImageChosed == true">
              Image chosed is: {{ this.fileToUpload.name }}
            </p>
          </label>
        </div>
        <p *ngIf="file.invalid && file.touched" class="alert alert-danger">
          Please,provide an image
        </p>
        <button
          class="btn btn-primary"
          (click)="uploadFileToActivity()"
          [disabled]="f.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
