.serviceImage {
  display: block;
}
@media (max-width: 768px) {
  .serviceImage {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .serviceImage {
    max-width: 60%;
    height: auto;
  }
}
/********* close button for model*********/
.btn-dialog-close {
  margin-left: auto;
}
.btn-dialog-close:hover {
  color: red;
}
