<div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-12">
    <form
      id="uploadForm"
      #f="ngForm"
      enctype="multipart/form-data"
      method="post"
    >
      <div class="form-group first">
        <textarea
          required
          #address="ngModel"
          class="address"
          nbInput
          ngModel
          [(ngModel)]="contact.address"
          name="address"
          placeholder="Address*"
          style="width: 50%;"
          rows="10"
        ></textarea>
      </div>
      <p *ngIf="address.invalid && address.touched" class="alert alert-danger">
        Please,provide an address
      </p>
      <div class="form-group first">
        <input
          required
          #phone="ngModel"
          class="address"
          [(ngModel)]="contact.phone"
          ngModel
          name="phone"
          placeholder="Phone*"
          style="width: 50%;"
          type="tel"
        />
      </div>
      <p *ngIf="phone.invalid && phone.touched" class="alert alert-danger">
        Please,provide a phone number
      </p>

      <div class="form-group first">
        <input
          required
          #email="ngModel"
          class="address"
          [(ngModel)]="contact.email"
          ngModel
          name="email"
          placeholder="Email*"
          style="width: 50%;"
          type="email"
        />
      </div>
      <p *ngIf="email.invalid && email.touched" class="alert alert-danger">
        Please,provide an email
      </p>

      <div class="form-group first">
        <input
          required
          #fax="ngModel"
          class="address"
          ngModel
          [(ngModel)]="contact.fax"
          name="fax"
          placeholder="Fax*"
          style="width: 50%;"
        />
      </div>
      <p *ngIf="fax.invalid && fax.touched" class="alert alert-danger">
        Please,provide a fax
      </p>

      <div class="form-group first">
        <input
          required
          #mapUrl="ngModel"
          class="address"
          ngModel
          [(ngModel)]="contact.mapUrl"
          name="mapUrl"
          placeholder="Map URL*"
          style="width: 50%;"
        />
      </div>
      <p *ngIf="fax.invalid && fax.touched" class="alert alert-danger">
        Please,provide a map url
      </p>

      <!--<div class="custom-file">
        <input
          required
          type="file"
          class="custom-file-input"
          id="file"
          ngModel
          #image="ngModel"
          name="image"
          accept="image/x-png,image/gif,image/jpeg"
          (change)="handleImageFileInput($event.target.files, image)"
        />
        <label class="custom-file-label" for="customFile">
          <p *ngIf="isImageChosed == false">choose an image for Map:</p>
          <p *ngIf="isImageChosed == true">
            Image chosed is: {{ this.imageToUpload.name }}
          </p>
        </label>
      </div>
      <p *ngIf="image.invalid && image.touched" class="alert alert-danger">
        Please,provide an image
      </p>
    -->
      <button
        class="btn btn-primary"
        type="submit"
        status="success"
        (click)="upload(f.value)"
        [disabled]="f.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
