.d-flex {
  margin-top: 5em;
}
form {
  text-align: center;
  width: 100%;
}
.first {
  width: 100%;
}
textarea {
  width: 80%;
}
/****  Cancel button ***/
.cancel {
  margin-left: 2em;
}
.cancel,
.submit {
  margin-top: 1em;
}
