.col-md-12 {
  margin: 5em auto;
}
@media (max-width: 990px) {
  .first {
    text-align: center;
  }
  .second {
    text-align: center;
  }
}
div.imageContainer {
  width: 400px;
}
.about-us {
  max-width: 100%;
  height: auto;
}
.pdfContainer a:hover {
  color: #49c5b6;
}
