<div class="lists row">
  <!-- <div class="imageContainer col">
    <h3>Current Image:</h3>
    <img
      *ngIf="aboutUs.imageUrl && aboutUs.imageUrl != ''"
      [src]="serverUrl + '/images/' + aboutUs.imageUrl"
      alt="current about us image"
      class="about-us"
    />
    <h5 *ngIf="!aboutUs.imageUrl || aboutUs.imageUrl == ''">
      No Image yet uploaded
    </h5>
  </div>
  <div class="pdfContainer col">
    <h3>Current Pdf:</h3>
    <a
      [href]="serverUrl + '/images/' + aboutUs.pdfUrl"
      alt="current about us pdf"
      class="about-us"
      target="_blank"
      *ngIf="aboutUs.pdfUrl != ''"
    >
      Show Current FEOpeco portofolio
    </a>
    <h5 *ngIf="!aboutUs.pdfUrl || aboutUs.pdfUrl == ''">No Pdf yet uploaded</h5>
  </div>
  <div class="w-100"></div>
-->
  <div class="col-md-12 col-lg-6 col-xxxl-12">
    <form
      id="uploadForm"
      #f="ngForm"
      enctype="multipart/form-data"
      method="post"
    >
      <div class="form-group first">
        <input
          required
          class="title"
          type="text"
          nbInput
          ngModel
          [(ngModel)]="aboutUs.title"
          #title="ngModel"
          name="title"
          fullWidth
          placeholder="Title"
          style="width: 70%;"
        />
      </div>
      <p *ngIf="title.invalid && title.touched" class="alert alert-danger">
        Please,provide a title
      </p>
      <div class="form-group second">
        <textarea
          required
          #content="ngModel"
          class="content"
          nbInput
          ngModel
          [(ngModel)]="aboutUs.content"
          name="content"
          placeholder="Content"
          style="width: 70%;"
          rows="10"
        ></textarea>
      </div>
      <p *ngIf="content.invalid && content.touched" class="alert alert-danger">
        Please,provide a content
      </p>
      <div class="imageContainer ">
        <h3>Current Image:</h3>
        <img
          *ngIf="aboutUs.imageUrl && aboutUs.imageUrl != ''"
          [src]="serverUrl + '/images/' + aboutUs.imageUrl"
          alt="current about us image"
          class="inline-image"
        />
        <h5 *ngIf="!aboutUs.imageUrl || aboutUs.imageUrl == ''">
          No Image yet uploaded
        </h5>
      </div>
      <div class="custom-file">
        <input
          required
          type="file"
          class="custom-file-input"
          id="file"
          ngModel
          #image="ngModel"
          name="image"
          accept="image/x-png,image/gif,image/jpeg"
          (change)="handleImageFileInput($event.target.files, image)"
        />
        <label class="custom-file-label" for="customFile">
          <p *ngIf="!this.imageToUpload">choose an image:</p>
          <p *ngIf="this.imageToUpload">
            Image chosed is: {{ this.imageToUpload.name }}
          </p>
        </label>
      </div>
      <p *ngIf="image.invalid && image.touched" class="alert alert-danger">
        Please,provide an image
      </p>
      <div class="inline-pdf">
        <h3>Current Pdf:</h3>
        <a
          [href]="serverUrl + '/images/' + aboutUs.pdfUrl"
          alt="current about us pdf"
          class="about-us"
          target="_blank"
          *ngIf="aboutUs.pdfUrl != ''"
        >
          Show Current FEOpeco portofolio
        </a>
        <h5 *ngIf="!aboutUs.pdfUrl || aboutUs.pdfUrl == ''">
          No Pdf yet uploaded
        </h5>
      </div>
      <div class="custom-file">
        <input
          required
          type="file"
          class="custom-file-input"
          id="file"
          ngModel
          #pdf="ngModel"
          name="pdf"
          accept="application/pdf"
          (change)="handlePdfFileInput($event.target.files)"
        />
        <label class="custom-file-label" for="customFile">
          <p *ngIf="!this.pdfToUpload">choose a PDF:</p>
          <p *ngIf="this.pdfToUpload">
            PDF chosed is: {{ this.pdfToUpload.name }}
          </p>
        </label>
      </div>
      <p *ngIf="pdf.invalid && pdf.touched" class="alert alert-danger">
        Please,provide a PDF
      </p>
      <button
        class="btn btn-primary submit"
        type="submit"
        status="success"
        (click)="upload(f.value)"
        [disabled]="f.invalid"
      >
        Submit
      </button>
      <a
        class="btn btn-danger cancel"
        type="button"
        status="success"
        routerLink="/dashboard/index"
      >
        Cancel
      </a>
    </form>
  </div>
</div>
