.serviceImage {
  max-width: 200px;
  max-height: 10vw;
}
table th {
  font-weight: bold;
  font-size: larger;
}
table th:first-of-type {
  width: 10%;
}
table th:nth-of-type(2) {
  width: 55%;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 9px;
}
